<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado Visitas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header>
    <ion-title>
      Ronda lugas N°29
    </ion-title>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let visita of visitas">
      <ion-avatar>

      </ion-avatar> 
        <ion-label>
          {{visita.title}}
        </ion-label> 
     
       <ion-label>
         {{visita.Rut}}
       </ion-label>
   </ion-item>
  </ion-list>
  
