<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Botones de emergencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-list class="centrado2">
    <br>
    <ion-button shape="round" color="warning"size="large">Ambulancia</ion-button>
  </ion-list>
  <ion-list class="centrado1">
    <br>
    <ion-button shape="round" color="success" size="large">Carabineros</ion-button>
  </ion-list>
  <ion-list class="centrado3">
    <br>
    <ion-button shape="round" color="danger" size="large">Bomberos</ion-button>
  </ion-list>
</ion-content>
